.board-main {
	/* position: absolute;
	bottom: 0; */
	width: 100%;
	min-height: calc(calc(var(--vh, 1vh) * 100) - var(--header-height));
	padding: calc(var(--header-height) + 20px) var(--wrapper-padding) 20px;
}
